Apr_26/BEM.pdf
Challenge HTML+CSS/Final Version (plus)/challenge-plus-desktop.mp4
Challenge HTML+CSS/Final Version (plus)/challenge-plus-mobile.mp4
Challenge HTML+CSS/Final Version (plus)/challenge-plus-tablet.mp4
Challenge HTML+CSS/Initial Versión (recommended)/challenge-initial-desktop.mp4
Challenge HTML+CSS/Initial Versión (recommended)/challenge-initial-mobile.mp4
Challenge HTML+CSS/Initial Versión (recommended)/challenge-initial-tablet.mp4
Challenge HTML+CSS/challenge-html-css.zip
Challenge HTML+CSS/FooCamp Challenge Beginners - Instructions.pdf
Apr_19/challenge/404-not-found-master.zip
Apr_19/challenge/404-not-found-master/devchallenges.png
Apr_19/challenge/404-not-found-master/index.html
Apr_19/challenge/404-not-found-master/README.md
Apr_19/challenge/404-not-found-master/Scarecrow.png
Apr_26/img/office.jpg
Apr_29/foocamp-good-practices.zip
Apr_29/foocamp-good-practices/index.html
Apr_29/foocamp-good-practices/styles.css
Apr_29/foocamp-good-practices/.idea/.gitignore
Apr_29/foocamp-good-practices/.idea/foocamp-good-practices.iml
Apr_29/foocamp-good-practices/.idea/misc.xml
Apr_29/foocamp-good-practices/.idea/modules.xml
Apr_29/foocamp-good-practices/exercises/.DS_Store
Apr_29/foocamp-good-practices/exercises/advanced-selectors/cami-approved.png
Apr_29/foocamp-good-practices/exercises/advanced-selectors/code.jpeg
Apr_29/foocamp-good-practices/exercises/advanced-selectors/index.html
Apr_29/foocamp-good-practices/exercises/advanced-selectors/styles.css
Apr_29/foocamp-good-practices/exercises/advanced-selectors/we-want-you.png
Apr_29/foocamp-good-practices/exercises/DRY/index.html
Apr_29/foocamp-good-practices/exercises/DRY/styles.css
Apr_29/foocamp-good-practices/exercises/grouping/index.html
Apr_29/foocamp-good-practices/exercises/grouping/styles.css
Apr_29/foocamp-good-practices/exercises/KISS/index.html
Apr_29/foocamp-good-practices/exercises/KISS/styles.css
Apr_29/foocamp-good-practices/exercises/media-queries/index.html
Apr_29/foocamp-good-practices/exercises/media-queries/styles.css
Apr_29/foocamp-good-practices/exercises/mobile-first/index.html
Apr_29/foocamp-good-practices/exercises/mobile-first/responsive.png
Apr_29/foocamp-good-practices/exercises/mobile-first/styles.css
logo.ai
