*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Source Sans Pro', sans-serif;
}
.hero{
    display: flex;    
    align-items: center;
    justify-content: center;
    position: relative;
}
.hero__image__container{
    display: flex;
    flex: 1;
}
.hero__image {
    max-width: 100%;
    filter: brightness(50%);
}
.hero__text{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: absolute;
    padding-bottom: 20px;
}
.hero__title{
    font-family: 'Roboto Slab', serif;
    font-size: 70px;
    color: white;
    padding-bottom: 10px;
}
.hero__description{
    font-size: 28px;
    font-weight: 600;
    color: white;
}
.cardsContainer{
    display: flex;
    flex-flow: row wrap;
    margin: 60px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 30.5%;
    border: 1px solid rgb(210,210,210);
    border-radius: 5px;
    margin: 0 1.3% 4% 1.3%;
}
.card__title{ 
    font-family: 'Roboto Slab', serif;
    margin: -6px 0 0 0;
    padding: 0 15px;
    text-align: center;
    background-color: white;
}
.title--green{
    color: rgb(37, 182, 85);
}
.title--blue{
    color: rgb(1, 141, 200);
}
.title--red{
    color: rgb(231, 75, 60);
}
.title--darkblue{
    color: rgb(53, 74, 95);
}
.card__brand{
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin: 10px 0;
    padding: 0 20px;
}
.card__description{
    margin: 0 40px;
    text-align: center; 
    flex: 1;  
}
.card__button{
    margin: 20px 0;
    padding: 8px 0;
    width: 110px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
}
.button--green{
    color: white;
    background-color: rgb(37, 182, 85);
}
.button--blue{
    color: white;
    background-color: rgb(1, 141, 200);
}
.button--red{
    color: white;
    background-color: rgb(231, 75, 60);
}
.button--darkblue{
    color: white;
    background-color: rgb(53, 74, 95);
}
