body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.8em;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

button {
	font-family: 'Montserrat', sans-serif;
	background-color: lightseagreen;
}

.acc__container {
	width: 100%;
}

.acc__list1 {
	width: 600px;
	margin: 100px auto;
	padding: 0;
	list-style-type: none;
}
.acc__button1{
	width: 100%;
	height: 45px;
	border-style: solid;
	border-color:green;
	border-radius: 5px;
	font-size: 18px;
	color: rgb(223, 236, 236);
	cursor: pointer;
	padding: 0;
}
.acc__list2{
	background-color: rgb(223, 236, 236);
	padding: 0 20px 0 20px;
}
.acc__item2{
	font-family: 'Montserrat', 'sans-serif';
	list-style-type: none;	
	margin: 0;
	padding: 10px 0 10px 0;

}

/*
- width
- height
- margin
- padding
- box-sizing
- font-size
- line-height
- background-color
- color
- font-family
- list-style-type
- border
- border-radius
- cursor
*/

/* Add this when enabling javascript */
.acc__list2 { 
	display: none;
	overflow: hidden;
 }
